@{ 
    ViewData["Title"] = "Sobre esta página";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1 class="text-center display-4">@ViewData["Title"]</h1>
    <p>
        <!-- Add the project description here. -->
    </p>
</body>
</html>